.App {
  text-align: center;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: grey;
  margin: 50px auto 0;
  max-width: 1200px;

}

.shelfContainer {
  width: 85%;
  min-height: 600px;
}

.shelfHeaderContainer {
  width: 100%;
}

.shelfItemsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.shelf-item {
  background-color: #fff;
  box-sizing: border-box;
  width: 20%;
  height: 555px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 10px;
  position: relative;
}
